<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuanLyThuVien.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="connectionString" providerName="System.Data.SqlClient"
         connectionString="Server=HIENCOMPUTER\DOANHIEN;Database=QLTV;Integrated Security=true" />
    <!--<add name="connectionString" providerName="System.Data.SqlClient"
        connectionString="Server=25.32.38.142,1443;Database=QLTV;User Id=netuser;Password=123" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <QuanLyThuVien.Properties.Settings>
      <setting name="user" serializeAs="String">
        <value />
      </setting>
      <setting name="pass" serializeAs="String">
        <value />
      </setting>
    </QuanLyThuVien.Properties.Settings>
  </userSettings>
</configuration>